<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riconoscimento Umore</title>
    <link rel="stylesheet" href="/styles/index.css">

</head>


<body>
  <script defer src="/scripts/faceApi.js"></script>
    <script defer src="/scripts/riconosciViso.js"></script>
    
    <div class="contenitore">
    <h1>Riconoscimento Umore:</h1>
    <h2>Il tuo stato d'animo è: <span id="umore"></span></h2>
  <video id="video" width="500px"" height="500px" autoplay muted playsinline></video>
</div>






</body>
</html>